@keyframes ldio-yalp32kfxl {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.spinner-wrapper{
  position:absolute;
  right:50%;
  top:10%;
  display:inline-block;
}
.ldio-yalp32kfxl div {
  left: 46.5px;
  top: 24px;
  position: absolute;
  animation: ldio-yalp32kfxl linear 1s infinite;
  background: #93dbe9;
  width: 7px;
  height: 12px;
  border-radius: 3.5px / 6px;
  transform-origin: 3.5px 26px;
}.ldio-yalp32kfxl div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #93dbe9;
}.ldio-yalp32kfxl div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #93dbe9;
}
.loadingio-spinner-spinner-dqnqjb0imij {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-yalp32kfxl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yalp32kfxl div { box-sizing: content-box; }
